<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container" style="display: flex;">
        
        <div class="row">
        <div class="card" style="width: 700px;">
          <div class="card bg-primary">
            <div class="card-body text-center">
             <div class="card-body">
                <h2 class="card-title">{%PRODUCTNAME%}</h2>
                <h6 class="card-text">{%PRICE%}€</h6>
                <a href="#" class="btn btn-warning stretched-link">More</a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>